$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
   background: transparent;
   color: $fg-color;
   font-weight: bold;

   >centerbox {

      // background: $bg-color;
      // border-radius: 10px;
      // margin: 8px;
      //
      // &:hover {
      //    background: $bg-color;
      // }
   }

   button {
      // padding: 8px;
      // text-align: center;
   }
}

.Dock {
   // background: $bg-color;
   border-radius: 10px;
   margin-bottom: 20px;
   min-width: 5rem;
   min-height: 5rem;

   >box {
      background: $bg-color;
      border-radius: 8px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

   }

   .Focused {
      background: $bg-color;
   }

}
